{% extends 'base.html.twig' %}

{% block title %}Edit Review{% endblock %}

{% block body %}
    <h1>Edit Review</h1>

    {{ include('crud_review/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_c_r_u_d_review_index') }}">back to list</a>

    {{ include('crud_review/_delete_form.html.twig') }}
{% endblock %}
