{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
    <h1>Create new Review</h1>

    {{ include('crud_review/_form.html.twig') }}

    <a href="{{ path('app_c_r_u_d_review_index') }}">back to list</a>
{% endblock %}
