{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('crud_user/_form.html.twig') }}

    <a href="{{ path('app_c_r_u_d_user_index') }}">back to list</a>
{% endblock %}
